





main{
    height: 100vh;
}

/*   *   *   *
*
*
*   header
*
*
*   *   *   */

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0px 20px;
}

#menu{
    width: 8rem;
}

.nav-content{
    position: absolute;
    top: 55px;
    display: none;
    width: 8rem;
    z-index: 40;
}

.nav-button{
    border: none;
    border-radius: none;
    padding: 10px 5px;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    transition: .3s ease-in;
}

.nav-button:hover{
    transform: scale(1.1);
}

.menu-visible{
    display: block;
}







/*   *   *   *
*
*
*   gallery
*
*
*   *   *   */


.img-slideshow{
    width: 50vw;
    height: 50vh;
    position: relative;
    margin: auto;
}

.slides{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 80%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.slide-num{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slides img{
    width: 100%;
    /* max-height: 80%; */
}

@-webkit-keyframes fade{
    from {opacity: 4}
    to {opacity: 1}
}

@-keyframes fade{
    from {opacity: 4}
    to {opacity: 1}
}

/* prefers reduced motion here */
















/*   *   *   *
*
*
*   footer
*
*
*   *   *   */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

#foot{
    padding: 20px;
}